.hero {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/static/img/bg_hero.jpg");
  background-position: top center;
  background-size: cover;

  .hero__content {
    width: 100%;
    max-width: 850px;
    color: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;

    h1 {
      font-size: 42px;
    }

    p {
      font-size: 21px;
    }
  }
}
