.section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  padding: 80px 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.section--light {
    background-color: #fff;
    color: $color-black;
    button {
      border: 2px $color-black solid;
      color: $color-black;

      &:hover {
        background: $color-black;
        color: $color-white;
      }
    }
  }

  &.section--color {
    color: #fff;
    background-position: top center;
    background-size: cover;
    button {
      border: 2px $color-white solid;
      color: $color-white;
      &:hover {
        background: $color-white;
        color: $color-black;
      }
    }
  }

  &.section--blue {
    background-image: url("/static/img/bg_blue.jpg");
  }

  &.section--purple {
    background-image: url("/static/img/bg_purple.jpg");
  }

  .section__content {
    width: 100%;
    max-width: 850px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 19px;
    }

    footer {
      padding-top: 50px;
      p {
        font-size: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
    }

    ul.offer {
      text-align: center;
      padding: 20px;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      text-align: center;

      @media (max-width: 940px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @media (max-width: 740px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (max-width: 640px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }
      li {
        padding: 5px;
        .offer__avatar {
          margin-top: 10px;
          width: 84px;
          height: 84px;
          border: 2px $color-black solid;
          border-radius: 50%;
          display: inline-block;
        }
        .offer__label {
          width: 100%;
          font-family: "Baloo", cursive;
          margin-bottom: 10px;
          margin-top: 5px;
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }

    ul.social {
      text-align: center;

      padding: 20px;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 5px;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
        a {
          width: 56px;
          height: 56px;
          border: 2px #fff solid;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          svg {
            width: 36px;
            height: 36px;
            fill: $color-white;
          }
        }
      }
    }
  }
}
