@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,300i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Oswald:600&subset=latin-ext");
$color-red: #fe5196;
$breakpoint: 920px;

@import "general";
@import "header";
@import "hero";
@import "section";
@import "modals";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
